# ===============================================
#   .gitignore for Multi-Module Java / Maven
# ===============================================

target/
dependency-reduced-pom.xml
.idea/
*.iml
*.class
*.log
*.tmp
*.temp
*.jar
*.war
*.zip
*.tar.gz
.DS_Store
Thumbs.db